# jira-domain
domain#http://jira.your-domain.com/rest/auth/1/session

# main-request
main_request#http://jira.your-domain.com/rest/api/2/search

# jql -- You can use a filter you have in your jira, take sure the user you'll use have the right permissions
jql#project in ("Jira ETL") AND updated >= startOfDay(-1) ORDER BY updated DESC

# fields -- This is a list with some jira default fields. You may add customfields, so get the field-id on admin page and put like this - customfield_field-id - eg. customfield_0000
fields#project,issuetype,summary,description,priority,issuelinks,creator,assignee,reporter,status,resolution,created,updated,resolutiondate,duedate

# expand -- here you can modify to your needs, the changelog is a very powerfull tool that allow you to keep all the changes in the issue lifetime
expand#changelog

# startAt
start_at#0

# maxResults
max_results#50

# end