# jira-domain
http://jira.your-instance.com/rest/auth/1/session

# main-request
http://jira.your-instance.com/rest/api/2/search?

# jql -- you can use a filter you have in your jira, take sure the user you'll use have the right permissions
project = (JIRAETL) and updated >= %s

# fields -- this is a list with some default fields, you may add some customfields, so get the field-id on admin page and put like this - customfield_field-id - eg. customfield_0000
project,issueType,summary,epicName,epicLink,description,component,priority,issuelinks,estimate,remaining,logged,assignee,reporter,status,resolution,created,updated,resolved,duedate

# expand -- here you can modify to your needs, the changelog is a very powerfull tool that allow you to keep all the changes in the issue lifetime
changelog

# startAt
0

# maxResults
200

# end